<template>
    <div :class="'pull-'+align">
        <router-link class="btn btn-xs btn-info" :to="'/'+page+'/'">
            <i class="fa fa-arrow-left"></i> Voltar
        </router-link>&nbsp;&nbsp;
    </div>
</template>

<script>
    export default {
        props: {
            page: {
                default: ''
            },
            align: {
                default: 'left'
            }
        },
        methods: {

        },
        computed: {

        }
    }
</script>