<template>
    <nav role="navigation" aria-label="pagination">
        <ul class="pagination pull-right no-margin">

            <li :class="prevClass()"><router-link :to="'/'+page+'/'+prevPage">&laquo;</router-link></li>
            
            <li :class="currentClass(n)" v-for="n in data.last_page" v-bind:key="n">
                <router-link :to="'/'+page+'/page/'+n">{{n}}</router-link>
            </li>

            <li :class="nextClass()"><router-link :to="'/'+page+'/'+nextPage">&raquo;</router-link></li>
            
        </ul>
    </nav>
</template>

<script>
    export default {
        props: ['page','data'],
        data: function () {
            return {
                pageId: null
            }
        },
        methods:{
            setPageId() {
                var app = this,
                    pageId = app.$route.params.id || null;
            },
            prevClass(){
                return this.data.current_page == 1 ? 'disabled' : '';
            },
            nextClass(){
                return this.data.current_page == this.data.last_page ? 'disabled' : '';
            },
            currentClass(n){
                return this.data.current_page == n ? 'active current' : '';
            }
        },
        mounted() {
            this.setPageId();
        },
        computed: {
            prevPage(){
                let currentPage = this.data.current_page,
                    prevPage = currentPage - 1;

                return currentPage > 1 ? ('page/' + prevPage) : '';
            },
            nextPage(){
                let currentPage = this.data.current_page,
                    nextPage = currentPage + 1,
                    lastPage = this.data.last_page;

                return currentPage < lastPage ? ('page/' + nextPage) : '';
            },
        }
    }
</script>