<template>
    <div>

        <div v-if="$auth.check()">

            <admin-layout></admin-layout>

        </div>

        <div v-else>

            <auth-layout></auth-layout>

        </div>

    </div>
</template>

<script>
export default {
    data(){
        return {
            template: this.$route.meta.template ? this.$route.meta.template : 'dashboard',
            route: this.$router.currentRoute || 'dashboard',
            logged: this.$auth.check() ? true : false
        }
    },
    mounted(){
        //console.log('template',this.template)
        //console.log('route',this.route)
        //console.log('logged',this.logged)
    }
}
</script>