<template>
    <div>

        <!-- form start -->
        <form class="form-horizontal" v-on:submit="saveForm()">

            <div class="row">
                <div class="col-md-6">

                    <div class="box">
                        <div class="box-header">
                            <back-btn page="usuarios"></back-btn>
                            <h3 class="box-title">Cadastrar Usuário</h3>
                        </div>
                        <!-- /.box-header -->
                        
                        <div class="box-body">

                            <div class="box-body">
                                <form-group label="Nome">
                                    <input type="text" class="form-control" v-model="createUser.name"/>
                                </form-group>

                                <form-group label="Tipo">
                                    <select class="form-control select2" v-model="createUser.role_id">
                                        <option value="1">Admin(a)</option>
                                    </select>
                                </form-group>

                                <form-group label="Status">
                                    <select class="form-control select2" v-model="createUser.status">
                                        <option value="1">Ativo</option>
                                        <option value="0">Inativo</option>
                                    </select>
                                </form-group>

                                <form-group label="E-mail">
                                    <input type="email" class="form-control" v-model="createUser.email">
                                </form-group>

                                <form-group label="Senha">
                                    <input type="text" class="form-control" placeholder="Senha" v-model="createUser.password">
                                </form-group>

                            </div>
                            <!-- /.box-body -->

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Endereço</h3>
                        </div>
                        <!-- /.box-header -->
                        
                        <div class="box-body">

                            <!-- form start -->

                                <div class="box-body">

                                    <form-group label="CEP">
                                        <input type="text" class="form-control zip" v-model="createUser.address.zip_code">
                                    </form-group>

                                    <form-group label="Endereço">
                                        <input type="text" class="form-control" v-model="createUser.address.address">
                                    </form-group>

                                    <form-group label="Compl.">
                                        <input type="text" class="form-control" v-model="createUser.address.address_two">
                                    </form-group>

                                    <form-group label="Número">
                                        <input type="text" class="form-control" v-model="createUser.address.number">
                                    </form-group>

                                    <form-group label="Apartamento">
                                        <input type="text" class="form-control" v-model="createUser.address.apt">
                                    </form-group>

                                    <form-group label="Bairro">
                                        <input type="text" class="form-control" v-model="createUser.address.district">
                                    </form-group>

                                    <form-group label="Cidade">
                                        <input type="text" class="form-control" v-model="createUser.address.city">
                                    </form-group>

                                    <form-group label="Estado">
                                        <select class="form-control select2" v-model="createUser.address.state">
                                            <option value="0">Escolha uma opção</option>
                                            <option v-for="(state, index) in states" 
                                                    :key="index" 
                                                    :value="index">{{ state }}
                                            </option>
                                        </select>
                                    </form-group>

                                    <input type="hidden" v-model="createUser.address.country">
                                    <input type="hidden" v-model="createUser.status">

                                    <form-group>
                                        <button type="submit" class="btn btn-info">Cadastrar</button>
                                    </form-group>
                                </div>
                                <!-- /.box-body -->

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->

                <div class="col-md-6">

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Perfil</h3>
                        </div>
                        <!-- /.box-header -->
                        
                        <div class="box-body">

                            <!-- form start -->
                            <div class="box-body">
                                <form-group label="Gênero">
                                    <select class="form-control select2" v-model="createUser.gender">
                                        <option value="0">Escolha uma opção</option>
                                        <option value="1">Masculino</option>
                                        <option value="2">Feminino</option>
                                        <option value="3">Outro</option>
                                    </select>
                                </form-group>

                                <form-group label="Nascimento">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="date form-control pull-right datepicker" v-model="createUser.birth_date">
                                    </div>
                                </form-group>

                                <form-group label="CPF">
                                    <input type="text" class="form-control tax" v-model="createUser.tax"/>
                                </form-group>

                                <form-group label="Identidade">
                                    <input type="text" class="form-control" v-model="createUser.identity"/>
                                </form-group>
                            </div>
                            <!-- /.box-body -->

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Contato</h3>
                        </div>
                        <!-- /.box-header -->
                        
                        <div class="box-body">

                            <!-- form start -->
                            <div class="box-body">
                                <form-group label="Telefone">
                                    <input type="text" class="form-control phone" v-model="createUser.contact.phone"/>
                                </form-group>

                                <form-group label="Telefone Recado">
                                    <input type="text" class="form-control phone" v-model="createUser.contact.contact_phone"/>
                                </form-group>

                                <form-group label="Celular">
                                    <input type="text" class="form-control phone" v-model="createUser.contact.cell_phone"/>
                                </form-group>
                            </div>
                            <!-- /.box-body -->

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </form>

    </div>
</template>

<script>
    import statesList from '../../../utils/statesList';

    export default {
        data(){
            return {
                states: statesList,
                createUser: {
                    name: '',
                    role_id: 7,
                    status: 1,
                    email: '',
                    password: '123456',
                    gender: 0,
                    birth_date: '',
                    tax: '',
                    identity: '',
                    address: {
                        zip_code: '',
                        address: '',
                        address_two: '',
                        number: '',
                        apt: '',
                        district: '',
                        city: '',
                        state: 0,
                        country: 'Brasil'
                    },
                    contact: {
                        phone: '',
                        contact_phone: '',
                        cell_phone: ''
                    }
                }
            }
        },
        mounted() {

        },
        methods: {

            saveForm() {
                event.preventDefault();
                var app = this,
                    newUser = app.createUser;

                axios.post('/usuarios/', newUser)
                    .then( resp => {
                        //console.log('newUser',newUser);
                        alert("Usuário cadastrado com sucesso!");

                        setTimeout(() => {
                            app.$router.replace('/usuarios');
                        }, 500);

                    })
                    .catch( e => {
                        //console.log(e.response);
                        alert("Não foi possível cadastrar.");
                    });
            }
        }
    }
</script>
