<template>
    <div>

        <!-- form start -->
        <form class="form-horizontal" v-on:submit="saveForm()">

            <div class="row">
                <div class="col-md-6">

                    <div class="box">
                        <div class="box-header">
                            <back-btn page="usuarios"></back-btn>
                            <h3 class="box-title">Editar Usuário</h3>
                        </div>
                        <!-- /.box-header -->
                        
                        <div class="box-body">

                            <div class="box-body">
                                <form-group label="Nome">
                                    <input type="text" class="form-control" v-model="editUser.name"/>
                                </form-group>

                                <form-group label="Tipo">
                                    <select class="form-control select2" v-model="editUser.role_id">
                                        <option value="1">Admin(a)</option>
                                    </select>
                                </form-group>

                                <form-group label="Status">
                                    <select class="form-control select2" v-model="editUser.status">
                                        <option value="1">Ativo</option>
                                        <option value="0">Inativo</option>
                                    </select>
                                </form-group>

                                <form-group label="E-mail">
                                    <input type="email" class="form-control" v-model="editUser.email">
                                </form-group>

                                <form-group label="Senha">
                                    <input type="text" class="form-control" placeholder="Senha" v-model="editUser.password">
                                </form-group>

                            </div>
                            <!-- /.box-body -->

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Endereço</h3>
                        </div>
                        <!-- /.box-header -->
                        
                        <div class="box-body">

                            <!-- form start -->

                                <div class="box-body">

                                    <form-group label="CEP">
                                        <input type="text" class="form-control zip" v-model="editUser.address.zip_code">
                                    </form-group>

                                    <form-group label="Endereço">
                                        <input type="text" class="form-control" v-model="editUser.address.address">
                                    </form-group>

                                    <form-group label="Compl.">
                                        <input type="text" class="form-control" v-model="editUser.address.address_two">
                                    </form-group>

                                    <form-group label="Número">
                                        <input type="text" class="form-control" v-model="editUser.address.number">
                                    </form-group>

                                    <form-group label="Apartamento">
                                        <input type="text" class="form-control" v-model="editUser.address.apt">
                                    </form-group>

                                    <form-group label="Bairro">
                                        <input type="text" class="form-control" v-model="editUser.address.district">
                                    </form-group>

                                    <form-group label="Cidade">
                                        <input type="text" class="form-control" v-model="editUser.address.city">
                                    </form-group>

                                    <form-group label="Estado">
                                        <select class="form-control select2" v-model="editUser.address.state">
                                            <option value="0">Escolha uma opção</option>
                                            <option v-for="(state, index) in states" 
                                                    :key="index" 
                                                    :value="index">{{ state }}
                                            </option>
                                        </select>
                                    </form-group>

                                    <input type="hidden" v-model="editUser.address.country">
                                    <input type="hidden" v-model="editUser.status">

                                    <form-group>
                                        <button type="submit" class="btn btn-info">Atualizar</button>
                                    </form-group>
                                </div>
                                <!-- /.box-body -->

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->

                <div class="col-md-6">

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Perfil</h3>
                        </div>
                        <!-- /.box-header -->
                        
                        <div class="box-body">

                            <!-- form start -->
                            <div class="box-body">
                                <form-group label="Gênero">
                                    <select class="form-control select2" v-model="editUser.gender">
                                        <option value="0">Escolha uma opção</option>
                                        <option value="1">Masculino</option>
                                        <option value="2">Feminino</option>
                                        <option value="3">Outro</option>
                                    </select>
                                </form-group>

                                <form-group label="Nascimento">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="date form-control pull-right datepicker" v-model="editUser.birth_date">
                                    </div>
                                </form-group>

                                <form-group label="CPF">
                                    <input type="text" class="form-control tax" v-model="editUser.tax"/>
                                </form-group>

                                <form-group label="Identidade">
                                    <input type="text" class="form-control" v-model="editUser.identity"/>
                                </form-group>
                            </div>
                            <!-- /.box-body -->

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Contato</h3>
                        </div>
                        <!-- /.box-header -->
                        
                        <div class="box-body">

                            <!-- form start -->
                            <div class="box-body">
                                <form-group label="Telefone">
                                    <input type="text" class="form-control phone" v-model="editUser.contact.phone"/>
                                </form-group>

                                <form-group label="Telefone Recado">
                                    <input type="text" class="form-control phone" v-model="editUser.contact.contact_phone"/>
                                </form-group>

                                <form-group label="Celular">
                                    <input type="text" class="form-control phone" v-model="editUser.contact.cell_phone"/>
                                </form-group>
                            </div>
                            <!-- /.box-body -->

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
        </form>

    </div>
</template>

<script>
    import statesList from '../../../utils/statesList';

    export default {
        data(){
            return {
                states: statesList,
                userId: null,
                editUser: {
                    name: '...',
                    role_id: '',
                    status: '',
                    email: '...',
                    password: '',
                    gender: '',
                    birth_date: '...',
                    tax: '...',
                    identity: '...',
                    address: {
                        zip_code: '...',
                        address: '...',
                        address_two: '...',
                        number: '...',
                        apt: '...',
                        district: '...',
                        city: '...',
                        state: '...',
                        country: '...'
                    },
                    contact: {
                        phone: '...',
                        contact_phone: '...',
                        cell_phone: '...'
                    }
                }
            }
        },
        mounted() {
            this.getUserData();
        },
        methods: {
            getUserData() {
                let app = this,
                    id = app.$route.params.id;

                app.userId = id;

                axios.get('/usuarios/' + id)
                    .then( resp => {
                        this.editUser = resp.data;
                        //console.log('User',resp)
                    })
                    .catch( e => {
                        //console.log(e.response)
                        alert("Não foi possível obter o usuário")
                    });
            },

            saveForm() {
                event.preventDefault();
                var app = this,
                    newUser = app.editUser;

                axios.patch('/usuarios/' + app.userId, newUser)
                    .then( resp => {
                        //app.$router.replace('/');
                        //console.log('newUser',newUser)

                        if( newUser.password ){
                            alert("Usuário atualizado com sucesso! Você precisará fazer login novamente.");

                            setTimeout(function(){
                                document.getElementById('logout-form').submit();
                            },500);

                        } else {
                            alert("Usuário atualizado com sucesso!");

                            //setTimeout(function(){
                                //app.$router.replace('/usuarios');
                            //},500);
                        }

                    })
                    .catch( e => {
                        //console.log(e.response);
                        alert("Não foi possível atualizar.");
                    });
            }
        }
    }
</script>
