<template>
    <div>
               
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Usuários Cadastrados</h3>

                <div class="pull-left">
                    <router-link class="btn btn-xs btn-info" :to="'/usuarios/cadastrar/'">
                        <i class="fa fa-edit"></i> Cadastrar
                    </router-link>&nbsp;&nbsp;
                </div>
            </div>
            <!-- /.box-header -->
            
            <div class="box-body">

                <div class="row">
                    <div class="col-sm-6">
                        <!--<label>
                            <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> 
                        </label> resultados por página-->
                    </div>
                    <div class="col-sm-6">
                        <div class="pull-right">
                            Pesquisar 
                            <label>
                                <input type="search" class="form-control input-sm" 
                                    placeholder="" aria-controls="example1" v-model="search" 
                                    @keyup="getResults()" @keydown="getResults()">
                            </label>
                        </div>
                    </div>
                </div>
                
                <table class="table table-bordered table-striped">

                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Status</th>
                            <th>Tipo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="(user,index) in users.data" v-bind:key="user.id">
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <span v-if="user.status === 0">Inativo</span>
                                <span v-if="user.status === 1">Ativo</span>
                            </td>
                            <td>{{ userType(user.role_id) }}</td>
                            <td>
                                <router-link v-if="user.id != 0" :to="'/usuarios/editar/'+user.id" class="btn btn-xs btn-warning">Editar</router-link>
                                <a v-if="user.id > 0" href="#" class="btn btn-xs btn-danger" :class="{ disabled: user.id == 1 }" @click.prevent="deleteEntry(user.id,index)">
                                    Excluir
                                </a>
                            </td>
                        </tr>                                
                    </tbody>

                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Status</th>
                            <th>Tipo</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>

                </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
                <pagination page="usuarios" :data="users"></pagination>
            </div>


        </div>
        <!-- /.box -->

    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                users: {
                    data: [{name:"...", email:"...", id:0, status: ""}]
                },
                pageId: null,
                search: ''
            }
        },
        methods:{
            fetchData() {
                var app = this,
                    pageId = app.$route.params.id || null,
                    page = pageId != null ? '?page=' + pageId : '';

                if(this.search != '') return;

                axios.get('/usuarios' + page)
                    .then(function (resp) {
                        app.users = resp.data;
                        //console.log(resp);
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Erro ao listar usuários");
                    });
            },
            getResults(){
                var app = this,
                    s = this.search,
                    baseUrl = 'usuarios',
                    actionUrl = '/' + baseUrl + '/search/' + s;
                
                if(s == ''){ actionUrl = '/' + baseUrl + '/'; }

                app.users.data = [{name:"...", email:"...", id:0, status: ""}];

                axios.get(actionUrl)
                    .then(function (resp) {
                        app.users = resp.data;
                        //console.log(resp);
                    })
                    .catch(function (resp) {
                        //console.log(resp);
                    });
            },
            deleteEntry(id, index) {
                if (confirm("Você realmente quer excluir este usuário?")) {
                    var app = this;
                    axios.delete('/usuarios/' + id)
                        .then(function (resp) {
                            app.users.data.splice(index, 1);
                            
                            //alert("Usuário deletado com sucesso!");

                            //setTimeout(() => {
                                //app.$router.replace('/usuarios');
                            //}, 500);
                        })
                        .catch(function (resp) {
                            alert("Não foi possível deletar");
                        });
                }
            },
            userType(roleID = 0){
                let name = "Indefinido";

                switch(roleID){
                    case 0:
                        name = "Indefinido";
                        break;
                    case 1:
                        name = "Admin";
                        break;
                }

                return name;
            }
        },
        mounted() {
            this.fetchData();
        },
        watch:{
            // atualiza dados ao mudar de rota / url
            $route (to, from){
                this.fetchData();
                this.getResults();
            }
        },
        computed: {
        }
    }
</script>
