<template>
    <div>

        <div class="row">
            <div class="col-xs-12">
                
                <router-view></router-view>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div>
</template>

<script>
    export default {
        data: function () {
            return {
            }
        },
        methods:{
        },
        mounted() {
        },
        watch:{
        } 
    }
</script>
