<template>
    <div>
	
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <div class="row">
                <div class="col-xs-12">
        
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1>
                            <admin-title></admin-title>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <router-link to="/">
                                    <i class="fa fa-dashboard"></i> <span>Painel</span>
                                </router-link>
                            </li>
                        </ol>
                    </section>
                    
                    <div class="clearfix"></div>
        
                    <!-- Main content -->
                    <section class="content">
        
                        <router-view></router-view>
        
                    </section>
                    <!-- /.content -->
        
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        
        </div>
        <!-- /.content-wrapper -->

    </div>
</template>

<script>
export default {
    mounted(){
        //console.log('$route',this.$route)
        //console.log('$parent',this.$parent)
    }
}
</script>