<template>
    <div>
	
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                0.0.1
            </div>
            &copy; 2020 <a href="/">Sistema</a>. Todos os direitos reservados.
        </footer>

    </div>
</template>

<script>
export default {
    mounted(){
        //console.log('$route',this.$route)
        //console.log('$parent',this.$parent)
    }
}
</script>