<template>
    <div>
	
		<div class="wrapper">

            <admin-header></admin-header>

            <admin-sidebar></admin-sidebar>

            <admin-content></admin-content>
			
            <admin-footer></admin-footer>	

		</div>
		<!-- ./wrapper -->

    </div>
</template>

<script>
export default {
    mounted(){
    }
}
</script>