<template>
    <nav id="nav">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">NAVEGAÇÃO</li>

            <!--PANEL-->
            <li v-if="$auth.check()" v-for="(route, key) in routes.logged" v-bind:key="route.path">
                <router-link  :to="{ path : route.path }" :key="key">
                    {{route.name}}
                </router-link>
            </li>

            <!--UNLOGGED-->
            <li v-if="!$auth.check()" v-for="(route, key) in routes.unlogged" v-bind:key="route.path">
                <router-link  :to="{ path : route.path }" :key="key">
                    {{route.name}}
                </router-link>
            </li>

            <!--ADMIN-->
            <li v-if="$auth.check(1)" v-for="(route, key) in routes.admin" v-bind:key="route.path">
                <router-link  :to="{ path : route.path }" :key="key">
                    {{route.name}}
                </router-link>
            </li>

            <!--LOGOUT-->
            <li v-if="$auth.check()">
                <a href="#" @click.prevent="$auth.logout()">Sair</a>
            </li>
        </ul>
    </nav>
</template>
<script>
export default {
    data() {
        return {
            routes: {
                // logado
                logged: [
                    {
                        name: 'Painel',
                        path: '/'
                    }
                ],

                // não logado
                unlogged: [
                    {
                        name: 'Login',
                        path: '/login'
                    }
                ],

                // admin
                admin: [
                    {
                        name: 'Usuários',
                        path: '/usuarios'
                    },
                ],

            }
        }
    },
    mounted() {
        //
    }
}
</script>