<template>
    <div>
        {{ title }}
    </div>
</template>

<script>
export default {
    data(){
        return {
            title: 'Painel'
        }
    },
    mounted(){
        console.log('$route',this.$route)
        console.log('$parent',this.$parent.$route)
        this.title = this.$route ? (this.$route.meta.title || this.$route.matched[0].meta.title) : 'Painel';
    },
    watch:{
        // atualiza dados ao mudar de rota / url
        $route (to, from){
            this.title = this.$route ? (this.$route.meta.title || this.$route.matched[0].meta.title) : 'Painel';
        }
    } 

}
</script>