<template>
    <div>
        <h1>{{ hello }}</h1>
    </div>
</template>

<script>
    import axios from 'axios';
    import getCurrentUser from '../../../mixins/getCurrentUser';

    export default {
        data(){
            return {
                test: 'Foo'
            }
        },
        mixins: [getCurrentUser],
        created() {
        },
        computed: {
            hello(){
                var userName = this.user.name;

                return userName != '...' ? ('Olá ' + userName + '!') : '...';
            }
        }
    }
</script>