<template>
    <div>
	
        <div class="login-box">

            <div class="login-logo">
                <a href="">Sistema</a>
            </div>

            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">
                    Fazer Login
                </p>
                <form autocomplete="off" @submit.prevent="login" method="post">

                    <div class="alert alert-danger" v-if="has_error">
                        <p>Usuário ou senha incorretos.</p>
                    </div>

                    <div class="form-group has-feedback" v-bind:class="{has_error: has_error}">
                        <input type="email" class="form-control" placeholder="E-mail" 
                            name="email" required v-model="email">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback" v-bind:class="{has_error: has_error}">
                        <input type="password" class="form-control" placeholder="Senha"
                            name="password" required v-model="password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <!--<div class="checkbox icheck">
                                <label>
                                <input type="checkbox" name="remember">Lembrar</label>
                            </div>-->
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <a href="">Esqueci a senha</a><br>
            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->

    </div>
</template>

<script>
  export default {
    data() {
      return {
        email: null,
        password: null,
        has_error: false
      }
    },
    mounted() {
      //
    },
    methods: {
      login() {
        // get the redirect object
        var redirect = this.$auth.redirect()
        var app = this
        this.$auth.login({
          params: {
            email: app.email,
            password: app.password
          },
          success: function() {
            // handle redirection
            // const redirectTo = redirect ? redirect.from.name : this.$auth.user().role_id === 1 ? 'dashboard' : 'login'
            const redirectTo = 'dashboard';
            this.$router.push({name: redirectTo})
          },
          error: function(resp) {
            app.has_error = true;
            //console.log('resp',resp)
          },
          rememberMe: true,
          fetchUser: true
        })
      }
    }
  }
</script>